//  Colors
$darkShadeBlack: #1F2041;
$darkShadeGray: rgba(31, 32, 65, 0.75);
$darkShadeHalf: rgba(31, 32, 65, 0.5);
$darkShadeFourth: rgba(31, 32, 65, 0.25);
$darkShadeLight: rgba(31, 32, 65, 0.05);

$white: white;
$purple: #BC9CFF;
$green: #6FCF97;
$blue: #172b4d;
$brown: rgb(210, 144, 52);
$turquoise: rgb(0, 174, 204);

// Fonts
$raleway: "Raleway", sans-serif;
$lobster: "Lobster", sans-serif;

// Font-size
$main: 14px;
$large: 22px;
$middle: 16px;

$lineHeight: 1.3;

